arm_monitor
log/*
*.exe*
*.dll
pkg/data/mock.go1
wasm/*
*.zip
*.pdf
*.xlsx
scripts
tmp
*agent*
docs
REFACTORING_PLAN.md
lint_results.txt
.qwen
*.log
dist
node_modules
*.json
.tmp
*.7z
потрібно зробити систему контролю боржни.txt
Побудувати систему розсилки нагадувань п.md
Фіча 1 — Компанії, контрагенти, договори.md
